<?xml version="1.0"?>
<launch> 
    <!-- ROS SERIAL COMMUNICATION -->
    <node name="eco00" pkg="rosserial_python" type="serial_node.py" args="tcp 11412" output="screen"/>  
    
    <!-- ROBOT CONTROL -->
    <node name="eco_controller" pkg="robots_ctrl" type="eco_controller.py" output="screen"/>
    
    <!-- CAMERA CONTROL -->
    <node name="m5_opencv_camera" pkg="cameras_ctrl" type="robot_capture.py" output="screen"/>
    <node name="arena_camera" pkg="cameras_ctrl" type="arena_capture.py" output="screen"/>
    
    <!-- ENVIRONMENT -->
    <node name="eco_reader" pkg="env_inputs" type="eco_reader.py" output="screen"/>
    <node name="resource_map" pkg="env_inputs" type="resource_map.py" output="screen"/>
    
    <!-- AGENT -->
    <node name="dac_ml_agent" pkg="dac_modules" type="dac_episodic_agent.py" output="screen"/> 
    <!-- node name="dac_ml_agent" pkg="dac_modules" type="dac_episodic_q_agent.py" output="screen"/--> 
</launch>


